/*AUTHOR: Vlad Dobrescu <vlad.s.dobrescu@gmail.com>
*LISCENCE: PRIVATE
*/

/*--------------------------
* 		:ROOT Colors
----------------------------*/
:root {
	--mov: 		#52489C;
	--albastru: #4062BB;
	--aqua:		#59C3C3;
	--gri:		#EBEBEB;
	--rosu: 	#F45B69;
	--titlu: 	#3c4859;
	--subtitlu: #49586d;
	--text: 	#9facbd;
}

/*--------------------------
* 		TYPOGRAPHY
----------------------------*/
html *{
	font-family: 'Nunito Sans', sans-serif !important;
}
@font-face {
 font-family: 'FontAwesome';
 src: url('/assets/font-awsome/fonts/fontawesome-webfont.eot');
 src: url('/assets/font-awsome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url('/assets/font-awsome/fonts/fontawesome-webfont.woff') format('woff'),
      url('/assets/font-awsome/fonts/fontawesome-webfont.ttf') format('truetype'),
      url('/assets/font-awsome/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
 font-weight: normal;
 font-style: normal;
 }

h1, h2, h3, h4, h5 {
	color: var(--titlu);
}
h3{
	font-size: 21px;
	padding-top: 1em;
}
p {
	color: #3c4859;
}
ul{
	list-style: none;
}

/*--------------------------
* 		OVERWRITES
----------------------------*/
.title {
	color: var(--titlu);
}
.subtitle {
	color: #49586d;
	/*font-size: 26px*/
}
.navbar{
	background-color: rgba(255, 255, 255, 0);
}

a{
	color: var(--rosu);
}
a:hover{
	color: var(--text);
}
.navbar-item.is-tab a{
	color: var(--aqua);
	/*font-weight: 600;*/
	font-size: .9em;
}
.navbar-item.is-tab a:hover{
	color: var(--text);
}
p.subtitle{
	padding-top: 1em;
}

.row{
	padding-top: 6em;
	padding-bottom: 2em;
}
.grey{
	background-color: var(--gri);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--aqua);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#myBtn:hover {
  background-color: #555;
}

@media screen and (max-width: 930px){
	/*BLOG PAGE STYLES*/
	p.tags{
		font-size: .8em;
	}
	p.excerpt{
		font-size: .8em;
	}
	h2{
		font-size: 1.2em !important;
	}
	.img-circle{
		max-width: 90%;
		float: left;
		margin-top: 10px;
	}

	/* // BLOG PAGE STYLES */
}
@media screen and (max-width: 768px){
	.img-circle{
		max-width: 90%;
		float: left;
		margin-top: 90px;
	}

}
@media screen and (max-width: 430px){
	
}
